#board {
  width: 300px;
  border: 1px solid #eee;

}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;

  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background: #eee;
}
